.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr); /* Adjusted for a 6-row grid */
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  width: 340px;
}

.grid-cell {
  box-sizing: border-box;
  width: 60px; /* Adjusted width for a better look */
  height: 60px; /* Adjusted height for a better look */
  border: 2px solid var(--gray);
  border-radius: 4px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: var(--base-text-color); /* White text color */
  text-transform: uppercase;
}

.grid-cell.green {
  background-color: var(--green); /* Green background for correct letters */
}

.grid-cell.orange {
  background-color: var(--orange); /* Orange background for misplaced letters */
}

.grid-cell.no-color {
  background-color: var(--gray); /* Default background for wrong letters */
}
