.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.keyboard-row {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.keyboard-key {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #3a3a3c;
  color: white;
  border: 2px solid #3a3a3c;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.keyboard-key:hover {
  background-color: #525252;
}

.keyboard-key:active {
  background-color: #6b6b6b;
}

.keyboard-key.enter-key,
.keyboard-key.backspace-key {
  width: 115px;
}

body {
  background-color: #121213;
  color: white;
  font-family: "Arial", sans-serif;
}

.keyboard-key.green {
  background-color: #538d4e; /* Green background for correct letters */
}

.keyboard-key.orange {
  background-color: #b59f3b; /* Orange background for misplaced letters */
}

.keyboard-key.no-color {
  background-color: #666; /* Default background for wrong letters */
}
