:root {
  --green: #538d4e;
  --orange: #bea11f;
  --gray: #3a3a3c;
  --clear-gray: #666666;
  --dark: #121213;
  --base-text-color: #FFFFFF;
  --modal-bg-color: #1c1c1e;
  --modal-text-color: #c0c0c0;
  --button-bg-color: #007aff;
  --button-hover-color: #0056b3;
  --loading-spiner-base: #f3f3f3;
  --loading-spiner-line: #3498db;
  --keyboard-active-color: #6b6b6b;
  --keyboard-hover-color: #525252;
}

body {
  margin: 0;
  background-color: var(--dark); /*Dark background for the entire app*/
  color: var(--base-text-color);
  font-family: "Arial", sans-serif;
}
